{
  "presets": ["babel-preset-es2015", "babel-preset-stage-0", "babel-preset-react"],
  "plugins": [
    "babel-plugin-add-module-exports",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-lodash",
    ["babel-plugin-transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    ["babel-plugin-react-intl", {
      "messagesDir": "./translations/messages/",
      "enforceDescriptions": true,
      "extractSourceLocation": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["babel-preset-react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "presets": ["babel-preset-react-hmre"]
    },
    "test": {
      "plugins": [
        ["babel-plugin-webpack-loaders", { "config": "./webpack/webpack.config.development.js", "verbose": false }]
      ]
    }
  }
}
